 <odoo>
    <data>
        <!-- Top menu item -->
        <menuitem name="Bar App" id="bar_app.menu_root" web_icon="bar_app,static/description/icon.png"/>

        <!-- MENUS PRINCIPALES -->
        <menuitem name="Categories" id="bar_app.menu_category_up" parent="bar_app.menu_root"/>
        <menuitem name="Products" id="bar_app.menu_products_up" parent="bar_app.menu_root" />
        <menuitem name="Ingredients" id="bar_app.menu_ingredients_up" parent="bar_app.menu_root" />
        <menuitem name="Orders" id="bar_app.menu_orders_up" parent="bar_app.menu_root" />
        <menuitem name="Lines" id="bar_app.menu_lines_up" parent="bar_app.menu_root" />
        <menuitem name="Invoices" id="bar_app.menu_invoices_up" parent="bar_app.menu_root" />

    
        <!-- SUBMENUS PARA LISTAR-->

        <!-- las categorias, productos e ingredientes lo pueden VER todos, por si acaso quieren consultar algo en un momento dado -->
        <menuitem name="List categories" id="bar_app.menu_categories_list_1" parent="bar_app.menu_category_up" 
        action="bar_app.action_window_categories_list_1" groups="bar_group_admin,bar_group_waiter,bar_group_cooker,bar_group_barman"/>
        
        <menuitem name="List products" id="bar_app.menu_products_list_1" parent="bar_app.menu_products_up" 
        action="bar_app.action_window_products_list_1" groups="bar_group_admin,bar_group_waiter,bar_group_cooker,bar_group_barman"/>

        <menuitem name="List ingredients" id="bar_app.menu_ingredients_list_1" parent="bar_app.menu_ingredients_up" 
        action="bar_app.action_window_ingredients_list_1" groups="bar_group_admin,bar_group_waiter,bar_group_cooker,bar_group_barman"/>

        <!-- Las ordenes solo lo pueden ver el waiter-->
        <menuitem name="List orders" id="bar_app.menu_order_list_1" parent="bar_app.menu_orders_up" 
        action="bar_app.action_window_order_list_1" groups="bar_group_admin,bar_group_waiter"/>


        <!-- Las lines generales solo el administrador-->
        <menuitem name="List lines" id="bar_app.menu_lines_list_1" parent="bar_app.menu_lines_up" 
        action="bar_app.action_window_lines_list_base" groups="bar_group_admin"/>
        <!-- Las lines de BARMAN solo el barman-->
        <menuitem name="List lines BARMAN" id="bar_app.menu_lines_list_barman_1" parent="bar_app.menu_lines_up" 
        action="bar_app.action_window_lines_list_barman_1" groups="bar_group_barman,bar_group_admin"/>
        <!-- Las lines de waiter solo el waiter-->
        <menuitem name="List lines WAITER" id="bar_app.menu_lines_list_waiter_1" parent="bar_app.menu_lines_up" 
        action="bar_app.action_window_lines_list_waiter_1" groups="bar_group_waiter,bar_group_admin"/>
        <!-- Las lines de cooker solo el cooker-->
        <menuitem name="List lines COOKER" id="bar_app.menu_lines_list_cooker_1" parent="bar_app.menu_lines_up" 
        action="bar_app.action_window_lines_list_cooker_1" groups="bar_group_cooker,bar_group_admin"/>


        <!-- Las facturas solo el administrador-->
        <menuitem name="List invoices" id="bar_app.menu_invoices_list_1" parent="bar_app.menu_invoices_up" 
        action="bar_app.action_window_invoices_list_1" groups="bar_group_admin"/>
        <menuitem name="List line invoices" id="bar_app.menu_line_invoices_list_1" parent="bar_app.menu_invoices_up" 
        action="bar_app.action_window_line_invoice_list_1" groups="bar_group_admin"/>

    </data>
</odoo>